.hidden {
  display: none; }

.overflow-hidden {
  overflow: hidden; }

.error {
  color: #cc0000; }

.button-mouseenter {
  opacity: 0.5;
  cursor: pointer; }

.button-mouseleave {
  opacity: 1; }

input {
  margin-bottom: 10px; }

.form__width {
  min-width: 350px; }

.width__100 {
  width: 100%; }

.height__100 {
  height: 100%; }

.close-button {
  width: 40px;
  height: 40px; }

.flex {
  display: -webkit-flex;
  display: flex; }

.flex-center {
  -webkit-justify-content: center;
  justify-content: center; }

.flex-vertical-center {
  -webkit-align-items: center;
  align-items: center; }

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-row-wrap {
  flex-flow: row wrap; }

.flex-column-wrap {
  flex-flow: column wrap; }

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.flex-row-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.flex-vertical-stretch-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.flexbox-item-grow {
  flex: 1;
  /* same as flex: 1 1 auto; */ }

.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto; }

.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, 0.1); }
.hidden {
  display: none; }

.overflow-hidden {
  overflow: hidden; }

.error {
  color: #cc0000; }

.button-mouseenter {
  opacity: 0.5;
  cursor: pointer; }

.button-mouseleave {
  opacity: 1; }

input {
  margin-bottom: 10px; }

.form__width {
  min-width: 350px; }

.width__100 {
  width: 100%; }

.height__100 {
  height: 100%; }

.close-button {
  width: 40px;
  height: 40px; }

.flex {
  display: -webkit-flex;
  display: flex; }

.flex-center {
  -webkit-justify-content: center;
  justify-content: center; }

.flex-vertical-center {
  -webkit-align-items: center;
  align-items: center; }

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-row-wrap {
  flex-flow: row wrap; }

.flex-column-wrap {
  flex-flow: column wrap; }

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.flex-row-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.flex-vertical-stretch-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.flexbox-item-grow {
  flex: 1;
  /* same as flex: 1 1 auto; */ }

.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto; }

.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, 0.1); }

.overlay {
  position: absolute;
  background: black;
  opacity: 0.5;
  top: 0px;
  left: 0px; }

.overlay__content {
  height: 250px;
  background: white;
  opacity: 1;
  z-index: 1; }

#overlay__container {
  position: fixed;
  top: 0px;
  left: 0px; }

.overlay__header {
  height: 60px;
  padding: 10px;
  background: #1d75bc; }

.overlay__title {
  height: 62px;
  margin-right: 10px;
  color: white; }

.overlay__close {
  width: 30px;
  height: 30px; }

.overlay__close-button {
  margin-left: 10px; }

.overlay__close-button-image {
  width: 30px;
  height: 30px; }

.overlay__start {
  height: 75%; }

.overlay__start-button-wrapper {
  margin-top: 10px; }

.overlay__message {
  font-size: 1.3em; }

.close-button-fill:hover {
  fill: #483D8B; }

.overlay__start-button {
  min-width: 125px; }
.hidden {
  display: none; }

.overflow-hidden {
  overflow: hidden; }

.error {
  color: #cc0000; }

.button-mouseenter {
  opacity: 0.5;
  cursor: pointer; }

.button-mouseleave {
  opacity: 1; }

input {
  margin-bottom: 10px; }

.form__width {
  min-width: 350px; }

.width__100 {
  width: 100%; }

.height__100 {
  height: 100%; }

.close-button {
  width: 40px;
  height: 40px; }

.flex {
  display: -webkit-flex;
  display: flex; }

.flex-center {
  -webkit-justify-content: center;
  justify-content: center; }

.flex-vertical-center {
  -webkit-align-items: center;
  align-items: center; }

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-row-wrap {
  flex-flow: row wrap; }

.flex-column-wrap {
  flex-flow: column wrap; }

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.flex-row-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.flex-vertical-stretch-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.flexbox-item-grow {
  flex: 1;
  /* same as flex: 1 1 auto; */ }

.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto; }

.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, 0.1); }

.product__tile {
  width: 150px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75); }

.product__tile:hover {
  -webkit-box-shadow: 0px 1px 1px 0px #1d75bc;
  -moz-box-shadow: 0px 1px 1px 0px #1d75bc;
  box-shadow: 0px 1px 1px 0px #1d75bc;
  cursor: pointer; }

.product__title {
  font-size: 1.3em;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px; }

.product__tile:hover {
  border-color: #1d75bc; }

.product__image {
  width: 128px;
  height: 202px; }

.product__description {
  font-size: 1.3em; }

.product__price {
  font-weight: bold; }

.product__author {
  font-size: 1.3em; }

.product__publishdate {
  font-size: 1.3em; }

.product__pagecount {
  font-size: 1.3em; }

.product__isbn {
  font-size: 1.3em; }

.product__publisher {
  font-size: 1.3em; }

.product_language {
  font-size: 1.3em; }

.product__label {
  font-weight: bold; }

.product__genre {
  font-size: 1.3em; }

.product__image-hover {
  opacity: 0.5; }

#product__details__container {
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  z-index: 10; }

.product__details-image {
  opacity: 0.75; }

.cart__add-widget {
  height: 50px;
  color: white;
  font-size: 2.7em;
  background: #1d75bc;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px; }

.cart__add-widget__button {
  background: #1d75bc;
  width: 50px;
  height: 50px; }

.cart__add-widget__button:hover {
  background: #1d75fa;
  cursor: pointer; }

.cart__add-widget__quantity {
  width: 50px; }

.cart__add-widget__plus {
  width: 50px;
  height: 50px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cart__add-widget__minus {
  width: 50px;
  height: 50px;
  width: 50px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.shop__container {
  flex: 1; }
.hidden {
  display: none; }

.overflow-hidden {
  overflow: hidden; }

.error {
  color: #cc0000; }

.button-mouseenter {
  opacity: 0.5;
  cursor: pointer; }

.button-mouseleave {
  opacity: 1; }

input {
  margin-bottom: 10px; }

.form__width {
  min-width: 350px; }

.width__100 {
  width: 100%; }

.height__100 {
  height: 100%; }

.close-button {
  width: 40px;
  height: 40px; }

.flex {
  display: -webkit-flex;
  display: flex; }

.flex-center {
  -webkit-justify-content: center;
  justify-content: center; }

.flex-vertical-center {
  -webkit-align-items: center;
  align-items: center; }

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-row-wrap {
  flex-flow: row wrap; }

.flex-column-wrap {
  flex-flow: column wrap; }

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.flex-row-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.flex-vertical-stretch-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.flexbox-item-grow {
  flex: 1;
  /* same as flex: 1 1 auto; */ }

.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto; }

.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, 0.1); }

#loader__container {
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  background: white;
  opacity: 0.75; }

.loader__image {
  width: 300px;
  height: 300px; }
.hidden {
  display: none; }

.overflow-hidden {
  overflow: hidden; }

.error {
  color: #cc0000; }

.button-mouseenter {
  opacity: 0.5;
  cursor: pointer; }

.button-mouseleave {
  opacity: 1; }

input {
  margin-bottom: 10px; }

.form__width {
  min-width: 350px; }

.width__100 {
  width: 100%; }

.height__100 {
  height: 100%; }

.close-button {
  width: 40px;
  height: 40px; }

.flex {
  display: -webkit-flex;
  display: flex; }

.flex-center {
  -webkit-justify-content: center;
  justify-content: center; }

.flex-vertical-center {
  -webkit-align-items: center;
  align-items: center; }

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-row-wrap {
  flex-flow: row wrap; }

.flex-column-wrap {
  flex-flow: column wrap; }

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.flex-row-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.flex-vertical-stretch-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.flexbox-item-grow {
  flex: 1;
  /* same as flex: 1 1 auto; */ }

.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto; }

.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, 0.1); }

.cart__wrapper {
  min-width: 300px; }

.cart__tile-image {
  width: 50px;
  height: 50px;
  flex-grow: 1; }

.cart__container {
  flex-grow: 1; }

.cart__tile-title {
  font-size: 0.8em;
  margin-right: 10px;
  flex-grow: 2; }

.cart__remove-button {
  flex-grow: 1; }
.hidden {
  display: none; }

.overflow-hidden {
  overflow: hidden; }

.error {
  color: #cc0000; }

.button-mouseenter {
  opacity: 0.5;
  cursor: pointer; }

.button-mouseleave {
  opacity: 1; }

input {
  margin-bottom: 10px; }

.form__width {
  min-width: 350px; }

.width__100 {
  width: 100%; }

.height__100 {
  height: 100%; }

.close-button {
  width: 40px;
  height: 40px; }

.flex {
  display: -webkit-flex;
  display: flex; }

.flex-center {
  -webkit-justify-content: center;
  justify-content: center; }

.flex-vertical-center {
  -webkit-align-items: center;
  align-items: center; }

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-row-wrap {
  flex-flow: row wrap; }

.flex-column-wrap {
  flex-flow: column wrap; }

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.flex-row-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.flex-vertical-stretch-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.flexbox-item-grow {
  flex: 1;
  /* same as flex: 1 1 auto; */ }

.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto; }

.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, 0.1); }
.hidden {
  display: none; }

.overflow-hidden {
  overflow: hidden; }

.error {
  color: #cc0000; }

.button-mouseenter {
  opacity: 0.5;
  cursor: pointer; }

.button-mouseleave {
  opacity: 1; }

input {
  margin-bottom: 10px; }

.form__width {
  min-width: 350px; }

.width__100 {
  width: 100%; }

.height__100 {
  height: 100%; }

.close-button {
  width: 40px;
  height: 40px; }

.flex {
  display: -webkit-flex;
  display: flex; }

.flex-center {
  -webkit-justify-content: center;
  justify-content: center; }

.flex-vertical-center {
  -webkit-align-items: center;
  align-items: center; }

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-row-wrap {
  flex-flow: row wrap; }

.flex-column-wrap {
  flex-flow: column wrap; }

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.flex-row-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.flex-vertical-stretch-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.flexbox-item-grow {
  flex: 1;
  /* same as flex: 1 1 auto; */ }

.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto; }

.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, 0.1); }
.hidden {
  display: none; }

.overflow-hidden {
  overflow: hidden; }

.error {
  color: #cc0000; }

.button-mouseenter {
  opacity: 0.5;
  cursor: pointer; }

.button-mouseleave {
  opacity: 1; }

input {
  margin-bottom: 10px; }

.form__width {
  min-width: 350px; }

.width__100 {
  width: 100%; }

.height__100 {
  height: 100%; }

.close-button {
  width: 40px;
  height: 40px; }

.flex {
  display: -webkit-flex;
  display: flex; }

.flex-center {
  -webkit-justify-content: center;
  justify-content: center; }

.flex-vertical-center {
  -webkit-align-items: center;
  align-items: center; }

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-row-wrap {
  flex-flow: row wrap; }

.flex-column-wrap {
  flex-flow: column wrap; }

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.flex-row-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.flex-vertical-stretch-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }

.flexbox-item-grow {
  flex: 1;
  /* same as flex: 1 1 auto; */ }

.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto; }

.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, 0.1); }

.order__tile {
  background: white; }

.order__tile-title {
  font-size: 0.8em;
  margin-right: 10px;
  flex-grow: 2; }
