<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<html>
    <head>
        <title>Index</title>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link href="../../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link href="../../../../resources/css/core.css" rel="stylesheet" media="screen"/>
        <link href="../../../../resources/css/app.css" rel="stylesheet" media="screen"/>
    </head>
    <body>
        <div id="navigation__menu"></div>
        <div id="index" class="flex flex-center"></div>
        <div id="login__container" class="flex flex-center"></div>
        <div id="signup__container" class="flex flex-center"></div>
        <div id="product__details__container" class="hidden width__100 height__100"></div>
        <div class="flex">
            <div id="shop__container" class="flex-start"></div>
            <div id="cart__container" class="flex-end"></div>
        </div>
        <div id="review__container"></div>
        <div id="order__container"></div>
        <div id="orders__container"></div>
        <div id="overlay__container" class="hidden width__100 height__100"></div>
        <div id="loader__container" class="hidden width__100 height__100"></div>
        <script src="../../../resources/js/client.js"></script>
    </body>
</html>