@import 'globals';
@import 'flex';
@import 'mixins';

#loader__container {
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    background: $white;
    opacity: $three-quarters-opacity;
}

.loader__image {
	width: 300px;
	height: 300px;
}