@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius $radius $radius $radius;
	-webkit-border-radius: $radius $radius $radius $radius;
}