@import 'globals';
@import 'flex';

.order__tile-image {
	// width: 125px;
 //    height: 125px;
	// background-size: cover;
	// flex-grow: 1;
}

.order__tile {
	background: $white;
}
.order__tile-title {
	font-size: $small-text-size;
	margin-right: 10px;
	flex-grow: 2;
}