$small-text-size: .8em;
$message-text-size: 1.3em;
$large-text-size: 2.7em;
$info-text-size: 1em;
$light-blue: rgb(29,117,188);
$light-blue-hover: rgb(29,117,250);
$white: rgb(255,255,255);
$black: rgb(0, 0, 0);
$error: rgb(204,0,0);
$green: green;
$grey: #CCCCCC;
$small-box-width: 50px;
$small-box-height: 50px;
$hover-opacity: 0.5;
$small-border-radius: 2px;
$large-border-radius: 4px;
$half-opacity: 0.50;
$three-quarters-opacity: 0.75;
$full-opacity: 1;
$full-percent: 100%;
$small-square: 25px;
$medium-square: 50px;
$large-square: 100px;
$margin-small: 10px;

.hidden {
	display: none;
}

.overflow-hidden {
	overflow: hidden;
}

.error {
	color: $error;
}

.button-mouseenter {
	opacity: $half-opacity;
	cursor: pointer;
}

.button-mouseleave {
	opacity: $full-opacity;
}

input {
	margin-bottom: 10px;
}

.form__width {
	min-width: 350px;
}

.width__100 {
	width: $full-percent;
}

.height__100 {
	height: $full-percent;
}

.close-button {
	width: 40px;
	height: 40px;
}
.flex {
	display: -webkit-flex;
	display: flex;
}

.flex-center {
	-webkit-justify-content: center;
	justify-content: center;
}

.flex-vertical-center {
	-webkit-align-items: center;
	align-items: center;
}

.flex-row {
	-webkit-flex-direction: row;
	flex-direction: row;
}

.flex-row-wrap {
  	flex-flow: row wrap;
}

.flex-column-wrap {
	flex-flow: column wrap;
}

.flex-column {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex-end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.flex-start {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.flex-row-wrap {
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

.flex-space-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.flex-space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.flex-vertical-stretch-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}

.flexbox-item-grow {
    flex: 1; /* same as flex: 1 1 auto; */
}

.fill-area-content {
    /* Needed for when the area gets squished too far and there is content that can't be displayed */
    overflow: auto; 
}

.flexbox-parent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
    background: rgba(255, 255, 255, .1);
}


.overlay {
	position: absolute;
	background: $black;
	opacity: $half-opacity;
	top: 0px;
	left: 0px;
}

.overlay__content {
	height: 250px;
	background: $white;
	opacity: $full-opacity;
	z-index: 1;
}

#overlay__container {
  position: fixed;
  top: 0px;
  left: 0px;
}

.overlay__header {
	height: 60px;
	padding: 10px;
	background: $light-blue;
}

.overlay__title {
	height: 62px;
	margin-right: 10px;
	color: $white;
}

.overlay__close {
	width: 30px;
	height: 30px;
}

.overlay__close-button {
	margin-left: 10px;
}

.overlay__close-button-image {
	width: 30px;
	height: 30px;
}

.overlay__start {
	height: 75%;
}

.overlay__start-button-wrapper {
	margin-top: 10px;
}

.overlay__message {
	font-size: $message-text-size;
}

.close-button-fill:hover {
	fill: #483D8B;
}

.overlay__start-button {
	min-width: 125px;
}
@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius $radius $radius $radius;
	-webkit-border-radius: $radius $radius $radius $radius;
}
.product__tile {
    width: 150px;
    padding: 10px;
    margin: 10px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

.product__tile:hover {
	-webkit-box-shadow: 0px 1px 1px 0px rgb(29,117,188);
	-moz-box-shadow: 0px 1px 1px 0px rgb(29,117,188);
	box-shadow: 0px 1px 1px 0px rgb(29,117,188);
	cursor: pointer;
}

.product__title {
	font-size: $message-text-size;
	@include border-radius($small-border-radius);
}

.product__tile:hover {
	border-color: $light-blue;
}

.product__image-mouseenter {

}

.product__image-mouseleave {

}

.product__image {
	width: 128px;
    height: 202px;
}

.product__description {
	font-size: $message-text-size;
}

.product__price {
	font-weight: bold;
}

.product__author {
	font-size: $message-text-size;
}

.product__publishdate {
	font-size: $message-text-size;
}

.product__pagecount {
	font-size: $message-text-size;
}

.product__isbn {
	font-size: $message-text-size;
}

.product__publisher {
	font-size: $message-text-size;
}

.product_language {
	font-size: $message-text-size;
}

.product__label {
	font-weight: bold;
}

.product__genre {
	font-size: $message-text-size;
}

.product__image-hover {
	opacity: $half-opacity;
}

#product__details__container {
	position: fixed;
	top: 0px;
	left: 0px;
	background: $white;
	z-index: 10;
}

.product__details-image {
	opacity: $three-quarters-opacity;
}

.cart__add-widget {
	height: $small-box-height;
	color: $white;
	font-size: $large-text-size;
	background: $light-blue;
	@include border-radius($large-border-radius);
}

.cart__add-widget__button {
	background: $light-blue;
	width: $small-box-width;
	height: $small-box-height;
}

.cart__add-widget__button:hover {
	background: $light-blue-hover;
	cursor: pointer;
}

.cart__add-widget__quantity {
	width: $small-box-width;
}

.cart__add-widget__plus {
	width: $small-box-width;
	height: $small-box-height;
	border-bottom-right-radius: $small-border-radius;
	border-top-right-radius: $small-border-radius;
	@include noselect();
}

.cart__add-widget__minus {
	width: $small-box-width;
	height: $small-box-height;
	width: $small-box-width;
	border-top-left-radius: $small-border-radius;
	border-bottom-left-radius: $small-border-radius;
	@include noselect();
}

.shop__container {
	flex: 1;
}
.order__container {
	position: absolute;
	top: 0px;
	left: 0px;
}

.order__tile-image {}

.order__tile {
	width: $full-percent;
    padding: 10px;
    margin: 10px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

.order__tile-title {
	font-size: $small-text-size;
	margin-right: 10px;
	flex-grow: 2;
}

.expandable__order-tile {
	width: $full-percent;
	height: 200px;
    padding: 10px;
    margin: 10px;
    background: $white;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	overflow: hidden;
	cursor: pointer;
}

.expanded__tile {
	height: $full-percent;
}
#loader__container {
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    background: $white;
    opacity: $three-quarters-opacity;
}

.loader__image {
	width: 300px;
	height: 300px;
}
.cart__wrapper {
	min-width: 300px;
}

.cart__tile-image {
	width: 50px;
	height: 50px;
	flex-grow: 1;
}

.cart__container {
	flex-grow: 1;
}

.cart__tile-title {
	font-size: $small-text-size;
	margin-right: 10px;
	flex-grow: 2;
}

.cart__remove-button {
	flex-grow: 1;
}


.switch__toggle {
    height: $medium-square;
    width: $medium-square;
    background-color: $grey;
    border-radius: $medium-square;
    -moz-border-radius: $medium-square;
    -webkit-border-radius: $medium-square;
    z-index: 1;
}

.switch__toggle__background {
    height: $medium-square;
    width: 120px;
    position: absolute;
    background-color: $white;
    border-radius: $medium-square;
    -moz-border-radius: $medium-square;
    -webkit-border-radius: $medium-square;
}

.active__switch__toggle  {
    background-color: $error;
}

.complete__switch__toggle {
	background-color: $green;
}

.switch__container {
	background-color: $grey;
	width: 120px;
	height: 60px;
	margin-bottom: $margin-small;
}

.switch__margin {
	margin-left: $medium-square;
}
