<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<html>
    <head>
        <title>Index</title>
        <link href="../../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link href="../../../../resources/css/core.css" rel="stylesheet" media="screen"/>
        <link href="../../../../resources/css/app.css" rel="stylesheet" media="screen"/>
    </head>
    <body>
        <div id="navigation__menu"></div>
        <div id="index"></div>
        <div id="login__container"></div>
        <div id="register__container"></div>
        <div id="shop__container"></div>
        <div id="overlay__container"></div>
        <div id="loader__container"></div>
        <div id="signup__container"></div>
        <script src="../../../resources/js/client.js"></script>
    </body>
</html>